[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pydantic = "*"

[dev-packages]
hwconfig = {editable = true, path = "."}
pytest = "*"
debugpy = "*"
pydantic = "*"
pytest-depends = "*"
