[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires] 
python_version = "3.11"

[packages]
click = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
mypy = "*"
debugpy = "*"
ruff = "*"
hwconfig = {editable = true, path = "."}
